<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-8 mx-auto">
    <%= form.label :name, class: 'd-block  px-0' %>
    <%= form.text_field :name, class: 'col' %>
  </div>

  <div class="field col-8 mx-auto">
    <%= form.label :money, class: 'd-block  px-0' %>
    <%= form.text_field :money, class: 'col' %>
  </div>

  <div class="field col-8 mx-auto">
    <%= form.label :start_at %>
    <%= form.datetime_select :start_at %>
  </div>

  <div class="field col-8 mx-auto">
    <%= form.label :end_at %>
    <%= form.datetime_select :end_at %>
  </div>

  <div class="field col-8 mx-auto">
    <%= form.label :currency , class: 'd-block  px-0'%>
    <select name="product[currency]" class='col'>
      <option value="NTD">NTD</option>
      <option value="USD">USD</option>
      <option value="HKD">HKD</option>
    </select>
  </div>

  <div class="field col-8 mx-auto">
    <%= form.label :tag_list, class: 'd-block  px-0' %>
    <select name="product[tag_list][]" multiple= 'true' class='col'>
      <option value="tag1">tag1</option>
      <option value="tag2">tag2</option>
      <option value="tag3">tag3</option>
    </select>
  </div>
  <div class="actions col-8 mx-auto">
    <%= form.submit %>
  </div>
<% end %>
